[Unit]
Description=Froxlor automatic backup
Requires=froxlor-backup.service

[Timer]
# Every night at 02:30 (add random 0-15min)
OnCalendar=*-*-* 02:30:00
RandomizedDelaySec=900
Persistent=true
Unit=froxlor-backup.service

[Install]
WantedBy=timers.target
